<!DOCTYPE html>



<meta charset= utf-8 />
<meta name="author" content="Ricardo Otero" />
<meta name="copyright" content="Ricardo Otero" />
<meta name="robots" content="index"/>
<meta name="robots" content="follow"/>
<link rel="icon" type="image/x-icon" href="#" />
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>

<meta name="description" content="Pagina personal de Ricardo Otero.">
	<title>Ricardo Otero</title>
	<link href="style.css" rel="stylesheet" />
</head>
<body>



<nav class="navigation" id="main-navigation">
<div>
<li><a href="../index.html">Inicio</a></li>
<li><a href="acercaDe.html">Acerca de mi</a></li>
<li><a href="proyectos.html">Trabajos</a></li>
<li><a href="Donar.html">Donar</a></li>
</nav>




<h1>En desarrollo</h1>

</body>
</html>


