<!DOCTYPE html>
<html>
<meta charset= utf-8 />
<meta name="author" content="Ricardo Otero" />
<meta name="copyright" content="Ricardo Otero" />
<meta name="robots" content="index"/>
<meta name="robots" content="follow"/>
<link rel="icon" type="image/x-icon" href="#" />
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>

<meta name="description" content="Pagina personal de Ricardo Otero.">
	<title>Ricardo Otero</title>
	<link href="style.css" rel="stylesheet" />
</head>
<body>


<nav class="navigation" id="main-navigation">
<div>
<li><a class="aRojo" href="../index.html">Inicio</a></li>
<li><a class="aNaranja" href="acercaDe.html">Acerca de mi</a></li>
<li><a class="aAmarillo" href="proyectos.html">Trabajos</a></li>
<li><a class="aBlanco" href="https://qvapay.com/payme/rop010698">Donar</a></li>
</nav>


<div class="todo">

<h1 class="h1Proyecto" >Blogs</h1>

<a class="aProyecto" href="https://poemasderocker.blogspot.com/?m=1">Poemas escritos en frias noches</a>
<a class="aProyecto" href="https://elblogderocker.blogspot.com/?m=1">El Blog de ROCKER</a>


<h1 class="h1Proyecto" >Sitios Web</h1>

<a class="aProyecto" href="https://otero111.github.io/donaelis.github.oi/">Doña Elis</a>

<a class="aProyecto" href="https://otero111.github.io/yonunca/">Yo Nunca</a>


<h1 class="h1Proyecto" >Podcast</h1>

<a class="aProyecto" href="https://anchor.fm/rocker-podcast">El podcast de ROCKER</a>




</div>








</body>
</html>
