<!DOCTYPE html>
<html>
<meta charset= utf-8 />
<meta name="author" content="Ricardo Otero" />
<meta name="copyright" content="Ricardo Otero" />
<meta name="robots" content="index"/>
<meta name="robots" content="follow"/>
<link rel="icon" type="image/x-icon" href="#" />
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>

<meta name="description" content="Pagina personal de Ricardo Otero.">
	<title>Ricardo Otero</title>
	<link href="style.css" rel="stylesheet" />
</head>
<body>


<nav class="navigation" id="main-navigation">
<div>
<li><a class="aRojo" href="../index.html">Inicio</a></li>
<li><a class="aNaranja" href="acercaDe.html">Acerca de mi</a></li>
<li><a class="aAmarillo" href="proyectos.html">Trabajos</a></li>
<li><a class="aBlanco" href="https://qvapay.com/payme/rop010698">Donar</a></li>
</nav>


<div class="todo">

<h1 class="h1Proyecto" >Blogs</h1>

<a class="aProyecto" href="https://write.privacytools.io/poemario/">Poemas escritos en frias noches</a>



<h1 class="h1Proyecto" >Sitios Web</h1>

<a class="aProyecto" href="https://otero111.github.io/donaelis.github.oi/">Doña Elis</a>

<a class="aProyecto" href="https://rebrand.ly/6q8fgo2Y">Yo Nunca</a>
	
<a class="aProyecto" href="https://rebrand.ly/HostalFarallon">Hostal Farallon</a>


<h1 class="h1Proyecto" >Podcast</h1>

<a class="aProyecto" href="https://anchor.fm/rocker-podcast">El podcast de ROCKER</a>




</div>




 <div class="redesSociales">
 <a href="https://www.instagram.com/rockermen5">
   <img class="imgRedes" src="../image/instagram.svg" alt="instagram" /></a>
 
 <a href="https://twitter.com/RockerQba">
   <img class="imgRedes" src="../image/twitter.svg" alt="twitter" /></a>
 
 <a href="https://mastodon.uy/@rockerman">
   <img class="imgRedes" src="../image/mastodon.svg" alt="mastodon"/></a>
 
 <a href="mailto:rop010698@gmail.com">
   <img class="imgRedes" src="../image/mail.svg" alt="correo" /></a>
 
 </div>




</body>
</html>
