
.navigation{

  overflow: hidden;
  height: 10000%;
}

.navigation li{
padding: 20px;
text-align: right;
display: inline-block;
}

a{
 color: white;
 font-size: 20px;
}
a:hover{
  font-size: 28px;
}


.aRojo{
  background: none;
  padding: 40px;
}
.aRojo:hover{
  background: #FF0B00;
  color: black;

}

.aNaranja{
  background: none;
  padding: 40px;
}


.aNaranja:hover{
  background: #F47600;
  color: black;
}

.aAmarillo{
  background: none;
  padding: 40px;
}
.aAmarillo:hover{
  background: #FFFD00;
  color: black;
}

.aBlanco{
  background: none;
  padding: 40px;
}


.aBlanco:hover{
  background: white;
  color: black;
}










  body{

	
		background-color:black;
		font-family: arial black;
		text-align: center;
		text-transform: uppercase;
		color: #fff;}

  	

.RicardoOtero{
  font-size: 30px;
  padding: 40px;
}
.description{
  font-size: 15px;
  margin: 20px;
  padding: 10px;
}


.estoyEn{
  padding: 70px;
}

.imgRedes{
  background: white;
  border-radius: 50%;
  border: white;
  height: 40px;
  margin: 10px;
  padding: 10px;
   -webkit-transition: -webkit-transform 0.3s ease-out;
 -moz-transition: -moz-transform 0.3s ease-out;
 margin-top:20px;
 
}
.imgRedes:hover{
  transform: rotate(360deg)
}
.redesSociales{
  min-height:80%;
}



.imagenGira{
  
  cursor: pointer;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-color: white;
  border-width: 8px;
  border-style: solid;
  filter:grayscale(100%);
  transform:none;
  -webkit-transition: -webkit-transform 0.3s ease-out;
 -moz-transition: -moz-transform 0.3s ease-out;
}
.imagenGira:hover{
  transform: rotate(360deg);
  filter:grayscale(0%);
}







footer{
 font-size: 10px;
 margin-top: 40px;
 margin: 30px;
}

.dm{
  justify-content: center;
  padding-top: 10px;  
}


footer{
  min-height: 120%;
  padding: 60px;
  font-size: 10px;
}

.a {
 -webkit-transition: -webkit-transform 1s ease-out;
 -moz-transition: -moz-transform 1s ease-out;
 transition: transform 1s ease-out;
}
.a:hover {
 -webkit-transform: rotate(460deg);
 -moz-transform: rotate(460deg);
 transform: rotate(460deg);
 border-radius: 100%;
 background: #3A3A3A;
}


.aProyecto{
  color: white;
  font-size: 15px;
  padding: 20px;
  display: block;
}

.h1Proyecto:hover{
  color: red;
}

.todo{
  margin-top: 100px;
}