body{
  background: black;
  color: white;
  text-align: center;
}

.navigation{

  overflow: hidden;
 
}

.navigation li{
padding: 20px;

display: inline-block;
}


a{

 margin:50px;
 color: white;
}


img{
  margin: 10%;
  cursor: pointer;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border-color: white;
  border-width: 8px;
  border-style: solid;
  filter:grayscale(100%);
  transform:none;
  -webkit-transition: -webkit-transform 0.3s ease-out;
 -moz-transition: -moz-transform 0.3s ease-out;
}
img:hover{
  transform: rotate(360deg);
  filter:grayscale(0%);
}

.cita{
  font-size: 20px;
  font-style: italic;
  margin: 50px;

}
